body {
    font-family: sans-serif;
    text-align: center;
}

header {
    background: darkblue;
    color: white;
}

header h1 {
    padding: 30px 0px 30px 30px;
}

header h2 {
    padding: 30px 0px 30px 30px;
}

nav {
    background-color: black;
    padding: 30px 0px 30px 0px;
}
nav li {
    padding: 20px 20px 20px 20px;
}

main {
    background: rgb(210, 247, 245);
    padding: 50px;
}

footer {
    background: black;
    color: rgb(245, 210, 210);
    padding: 20px;
}

footer a {
    color: red;
}

img {
    background: darkblue;
    padding: 50px 50px 50px 50px;
}

ul {
    list-style: none;
    display: inline;
}

li {
    display: inline;
}


